* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #777;
    height: 100vh;
    font-size: 20px;
}

body:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    /* needed to keep in the background */
    background: url(https://i.postimg.cc/5tRV2V7J/hero.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}

a {
    text-decoration: none;
    font-size: 20px;
}


section {
    /* min-height:300px; */
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.aegLogo {
    width: 400px;
}


.container {
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 15px 30px 0px;
}

.container h3 {
    text-align: center;
    font-size: 2em;
    color: #000;
}

section.about-instructor img {
    float: right;
    padding-bottom: 30px;
    display: flex;
}

/* colors background of sections grey */
.greyBg {
    background-color: #eee;
}

.whiteBg {
    background-color: white;
}

/*
footer {
    padding-top: 10px;
    min-height: 40px;
    background-color: #fff;
    color: rgb(24, 24, 24);
     text-align:center; 
}

footer .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 5px;
}
*/
h1 {
    text-align: center;
    color: black;
    
}
h1,
h2,
h3 {
    margin: 0;
}


/* Navigation Bar Across Top */
.navBar {
    display: flex;
    flex-flow: row wrap;
 justify-content: space-around;
    background-color: white;
    min-height: 60px;
    color: #111;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

nav a {
    text-decoration: none;
    color: red;
    font-size: 0.8em;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(82, 185, 226);
}

nav ul {
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
}

nav li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

.socialIcon {
    font-size: 25px;
}
/* Display hero image background - not repeated */
.heroImage {
    min-height: 100vh;
    background: none;
    color: white;
}



.headerContainer {
    margin: 0 auto;
    min-width: 320px;
    padding-top: 15rem;
    text-align: center;
}
/* Contact Secion*/

.contactContainer {
    width: 100%;
    top: 100%;
    text-align:center;
    margin-top: 0px;
    font-size: 20px; 
}

.contactContainer h3{
    text-align: center;
    font-size: 2em;
    
}

.contactButton {
    background-color: rgba(255, 255, 255, 0.075);
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    font-size: 1.2em;
}

.contactButton:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

.contactButton:focus {
    border-color: #78b2cb;
}

.contactButton:active {
    border-color: #78b2cb;
}



/* Separator between each section */
.separator {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 0;

}

/*About section*/

.about a {
    text-decoration: none;
    color: #006eff;
}

.about a:hover {
    text-decoration: underline;
}
/* Ron Keslar section */
.professor {
    padding: 10px;
}


label {
    text-align: right;
    margin-right: 15px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

.titleBg {
    background-color: rgba(255,255,255,0.8);
    padding: 40px 40px 40px 40px;
    max-width: 600px;
    margin: 0 auto;
}

.titleBg img {
    width: 500px;
    height: 500px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
}
/*Schedule Section  Tables*/
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
  
}

table {
    border-spacing: 1px;
    
}

th,
td {
    padding: 5px;
    text-align: center;
    color: #211b1c;
}

th {
    text-align: center;
    background-color:rgb(4, 41, 99, 0.5); 
    font-size:20px;
    color: white;
}

td.label {
    background-color:rgb(4, 41, 99, 0.5); 
    font-size:20px;
    color: white;
}
/*Ron slides*/
.ronContainer {
   max-width: 900px;
  position: relative;
  margin: auto;
 margin-top: 20px;
}
/*Ron bio*/
.bio {
    display: inline-block;
}

.container ul {
     list-style-type: circle;
    margin-left: 30px;
}

.bio ul {
    list-style-type: circle;
    margin-left: 30px;
}

/* Slideshow container */
.slideshowContainer {
  max-width: 900px;
  position: relative;
  margin: auto;
margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

footer {
/*   // border: rgb(204, 204, 204) solid 1px;*/
    margin-top: 0;
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px -30px 600px rgba(0, 0, 0, 0.55);
}

footer h2 {
    text-align: center;
}

footer a {
    color: red;
    background-color: white;
    font-size: 30px;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: white;
    
}

iframe {
    padding-bottom: 50px;
}



/*-------Media Query -----*/
/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        color: dimgrey;
    }
    .headerContainer {
        padding-top: 25rem;
    }
    nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    padding-top: 20px;
    }
}
}


/*ipad potrait*/

@media only screen and (device-width: 768px) {
    body {
        color: dimgrey;
    }
    .headerContainer {
    padding-top: 10rem;
    }
    
    nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    padding-top: 20px;
    }
}



/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: dimgrey;
    }
    .headerContainer {
    margin: 0 auto;
    min-width: 320px;
    padding-top: 15.5rem;
    text-align: center;
    }

    
.titleBg img {
    width: 300px;
    height: 300px;
    padding-bottom: 20px;
}
    
    
nav ul {
    list-style: none;
    padding-left: 0;
        text-align: center;
}
.contactButton {
        display: block;
}
.professor {
    padding: 20px;
}

}

/*iphonse 6,7,8 PLUS */
@media only screen and (max-width: 414px){
     .headerContainer{
        padding-top: 13.5rem;
    }
  
}
/*iphonse 6,7,8 */
@media only screen and (max-width: 375px) {

    .headerContainer {
        padding-top: 18rem;
    }
    .titleBg img {
        width: 250px;
        height: 250px;
         padding:auto;
    `}
}



/*Galaxy S5 portrait */
@media only screen and (max-width: 360px) {
    body {
        color: dimgrey;
    }
    
    .headerContainer {
       padding-top: 13rem; 
    }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: dimgrey;
    }
    
    .headerContainer {
        padding-top: 12rem;
    }
    .titleBg img {
    width: 250px;
    height: 250px;
    padding:auto;
}
     nav ul {
    list-style: none;
    padding-left: 0;
        text-align: center;
}
        .contactButton {
        display: block;
}
}





